<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.eidosmedia.eclipse.maven.libsass.Configurator"
            id="com.eidosmedia.eclipse.maven.libsass.Configurator"
            name="Libsass Configurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

</plugin>
